{% extends 'base.html.twig' %}
{% block javascripts %} {{ asset('js/script.js') }}{% endblock %}
{% block body %}
<table>
  <tr>
    <th>domingo</th>
    <th>lunes</th>
    <th>martes</th>
    <th>miercoles</th>
    <th>jueves</th>
    <th>viernes</th>
    <th>sabado</th>
  </tr>
  {% for semana in mes %}
  <tr>
    {% for dia in semana %}
    <td>
      {{dia}}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
